<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <style>
        html {
            background: #f5f5f5
        }

        body {
            padding-top: 1em
        }

    </style>

</head>
<body>
<div class="container">


    <div class="columns">
        <div class="column is-2">
            <img src="https://www.rw.by/uploads/userfiles/images/logo_bzhd.png"
                 style="width:200px;margin-top:.75em">
        </div>
        <div class="column">

        </div>
        <div class="column">

            <input type="text" class="input" placeholder="Search "
                   style="xmargin:.5em 0 1em;border:2px solid dodgerblue;">
            <p style="color:#666;font-size:large;margin-bottom:1em">
            <div id="current_date_time_block"></div>
            </p>
        </div>
    </div>


    <div class="container">
        <div class="columns">
            <div class="column is-2">
                <aside class="menu">

                    <ul class="menu-list">
                        <li><a th:href="@{/bjd/dashboard}">Главная страница</a></li>
                        <hr style="height:1px;margin:5px;">
                        <li><a th:href="@{/bjd/waitlist}">Расписание</a></li>
                        <li><a class="is-active" th:href="@{/bjd/users}">Пользователи</a></li>
                        <li><a th:href="@{/bjd/railway_stations}">Железнодорожные вокзалы</a></li>
                        <li><a th:href="@{/bjd/tickets}">Билеты</a></li>
                        <hr style="height:1px;margin:5px;">
                        <li><a th:href="@{/bjd/contacts}">Контакты</a></li>
                        <hr style="height:1px;margin:5px 0;">
                    </ul>
                    <ul class="menu-list">
                        <li><a th:href="@{/bjd/signout}">Выход</a></li>
                    </ul>
                </aside>

            </div>
            <div class="column">
                <div class="box">
                    <p class="title is-4">Customers</p>
                    <table class="table is-fullwidth is-striped">
                        <tbody>
                        <tr>
                            <td>
                                <p class="title is-6" style="margin:0">
                                    Barbie Kihn JD
                                </p>
                                <p>
                                    kimi@roob-lowe.com
                                </p>
                                <p style="color:#666;font-size:small">User since 2021-09-21
                                </p>
                            </td>
                            <td></td>
                            <td></td>
                            <td align="right"><a class="button" href="/customers/show">
                                <span class="icon"><i class="fa fa-arrow-right"></i></span>
                            </a></td>
                        </tr>

                        <tr>

                            <td>
                                <p class="title is-6" style="margin:0">
                                    Homer Hudson
                                </p>
                                <p>
                                    tara.heathcote@lueilwitz-schaefer.info
                                </p>
                                <p style="color:#666;font-size:small">User since 2022-06-12
                                </p>
                            </td>
                            <td></td>
                            <td></td>
                            <td align="right"><a class="button" href="/customers/show">
                                <span class="icon"><i class="fa fa-arrow-right"></i></span>
                            </a></td>
                        </tr>

                        <tr>

                            <td>
                                <p class="title is-6" style="margin:0">
                                    Claudia Schaden
                                </p>
                                <p>
                                    valentina@zboncak-simonis.biz
                                </p>
                                <p style="color:#666;font-size:small">User since 2021-12-26
                                </p>
                            </td>
                            <td></td>
                            <td></td>
                            <td align="right"><a class="button" href="/customers/show">
                                <span class="icon"><i class="fa fa-arrow-right"></i></span>
                            </a></td>
                        </tr>

                        <tr>

                            <td>
                                <p class="title is-6" style="margin:0">
                                    Janeen Ratke
                                </p>
                                <p>
                                    fabian@west.name
                                </p>
                                <p style="color:#666;font-size:small">User since 2021-10-28
                                </p>
                            </td>
                            <td></td>
                            <td></td>
                            <td align="right"><a class="button" href="/customers/show">
                                <span class="icon"><i class="fa fa-arrow-right"></i></span>
                            </a></td>
                        </tr>

                        <tr>

                            <td>
                                <p class="title is-6" style="margin:0">
                                    Dorothy Hintz
                                </p>
                                <p>
                                    dorine_franecki@macejkovic.co
                                </p>
                                <p style="color:#666;font-size:small">User since 2021-08-18
                                </p>
                            </td>
                            <td></td>
                            <td></td>
                            <td align="right"><a class="button" href="/customers/show">
                                <span class="icon"><i class="fa fa-arrow-right"></i></span>
                            </a></td>
                        </tr>

                        <tr>

                            <td>
                                <p class="title is-6" style="margin:0">
                                    Deon Carter
                                </p>
                                <p>
                                    brandon@dubuque.org
                                </p>
                                <p style="color:#666;font-size:small">User since 2021-07-07
                                </p>
                            </td>
                            <td></td>
                            <td></td>
                            <td align="right"><a class="button" href="/customers/show">
                                <span class="icon"><i class="fa fa-arrow-right"></i></span>
                            </a></td>
                        </tr>

                        <tr>

                            <td>
                                <p class="title is-6" style="margin:0">
                                    Pres. Catrice Hermiston
                                </p>
                                <p>
                                    kenton@schiller.io
                                </p>
                                <p style="color:#666;font-size:small">User since 2021-08-31
                                </p>
                            </td>
                            <td></td>
                            <td></td>
                            <td align="right"><a class="button" href="/customers/show">
                                <span class="icon"><i class="fa fa-arrow-right"></i></span>
                            </a></td>
                        </tr>

                        <tr>

                            <td>
                                <p class="title is-6" style="margin:0">
                                    Ricarda Hackett
                                </p>
                                <p>
                                    chang_bahringer@mann-marks.org
                                </p>
                                <p style="color:#666;font-size:small">User since 2021-07-26
                                </p>
                            </td>
                            <td></td>
                            <td></td>
                            <td align="right"><a class="button" href="/customers/show">
                                <span class="icon"><i class="fa fa-arrow-right"></i></span>
                            </a></td>
                        </tr>

                        <tr>

                            <td>
                                <p class="title is-6" style="margin:0">
                                    Linnea Schuster
                                </p>
                                <p>
                                    florentino@jerde.biz
                                </p>
                                <p style="color:#666;font-size:small">User since 2022-05-10
                                </p>
                            </td>
                            <td></td>
                            <td></td>
                            <td align="right"><a class="button" href="/customers/show">
                                <span class="icon"><i class="fa fa-arrow-right"></i></span>
                            </a></td>
                        </tr>

                        <tr>

                            <td>
                                <p class="title is-6" style="margin:0">
                                    Onita Gerhold
                                </p>
                                <p>
                                    ciara@jakubowski-schowalter.co
                                </p>
                                <p style="color:#666;font-size:small">User since 2021-08-20
                                </p>
                            </td>
                            <td></td>
                            <td></td>
                            <td align="right"><a class="button" href="/customers/show">
                                <span class="icon"><i class="fa fa-arrow-right"></i></span>
                            </a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column is-3">
                <div class="box">
                    <p class="title is-5">Скачать Расписание</p>
                    <div class="buttons">
                        <a th:href="@{/download/pdf}" class="button is-small">PDF</a>
                        <a th:href="@{/download/txt}" class="button is-small">TXT</a>
                        <a th:href="@{/download/csv}" class="button is-small">CSV</a>
                    </div>
                </div>
                <div class="box">
                    <p class="title is-5">Smart filters</p>
                    <p><a href="#">Unonboarded</a></p>
                    <p><a href="#">Joined today</a></p>
                    <p><a href="#">Joined yesterday</a></p>
                    <p><a href="#">Joined this week</a></p>
                    <p><a href="#">Upsell opportunities</a></p>
                    <p><a href="#">Paused subscriptions</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    function zero_first_format(value) {
        if (value < 10) {
            value = '0' + value;
        }
        return value;
    }

    function date_time() {
        var current_datetime = new Date();
        var day = zero_first_format(current_datetime.getDate());
        var month = zero_first_format(current_datetime.getMonth() + 1);
        var year = current_datetime.getFullYear();
        var hours = zero_first_format(current_datetime.getHours());
        var minutes = zero_first_format(current_datetime.getMinutes());
        var seconds = zero_first_format(current_datetime.getSeconds());

        return day + "." + month + "." + year + " " + hours + ":" + minutes + ":" + seconds;
    }

    setInterval(function () {
        document.getElementById('current_date_time_block').innerHTML = date_time();
    }, 1000);
</script>
</html>